a {
  text-decoration: none;
}

#filterbar {
  background: #F1F1F1;
  padding: 1em;
}

.keyword {
  background: #FBFCFD;
  border-radius: 0.5em;
  padding: 0.5em;
  display: inline-block;
}

#keywords {
  margin-top: 1em;
}

#keywords h3 {
  font-size: 1em;
}


.post-count {

}

#core {
  margin-top: 2em;
}


.post-keywords {
  margin-top: 2em;
  margin-bottom: 1em;
}

.post {
  text-align: justify;
}

#footer {
  text-align: center;
  margin: 1em;
}
