
a {
  text-decoration: none;
}

#core {
  margin-top: 2em;
}

#filterbar {
  background: #F5F5F5;
}

#keywords {

}

#keywords h3 {

}

.keyword {
  background: #FBFE0E;
  margin: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
}

.post-count {

}

.post-keywords {
  margin-top: 2em;
  margin-bottom: 1em;

}
